<div class="jumbotron">
  <h1 class="display-4">Welcome To WeMeet!</h1>
  <p class="lead">This is a service for you to host and find events of your interest. With additional features like promotion, privacy, and socialization, you'll love it!</p>
  <hr class="my-4">
  <% if logged_in? %>
    <h1>You are Logged in, <%= current_user.username %></h1>
    <p>Click on the Nav bar items to begin.</p>    
<% else %>
  <p>To begin using our service, please login/signup first.</p>
    <%# <h1>Welcome To WeMeet!</h1> %>
    <%# <p>Please login to use our service.</p> %>
    <div class = "row">
    <div class = "col-6">
    <%= button_to "Login", '/login', method: :get, :class => 'btn btn-outline-primary btn-block ' %>
    <br>
    <%= button_to "Sign Up", '/users/new', method: :get, :class => 'btn btn-outline-secondary btn-block' %>
    <br>
    <%= button_to "Log In with Google", '/auth/google_oauth2', :class => "btn btn-outline-primary btn-lg btn-block" %>
    </div>
    </div>
<%end%>
</div>


